# Keycloak DB
KC_DB_NAME=keycloak
KC_DB_USER=keycloak
KC_DB_PASSWORD=change_me

# Keycloak admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change_me

# (пізніше) UniGate main DB
UG_DB_NAME=unigate
UG_DB_USER=unigate
UG_DB_PASSWORD=change_me
